<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>

  <body>
    <%- include('partials/header')%>

    <main>
      <a href="<%= locals.backLink %>"><img src="/imgs/back.svg"/></a>
      <h1><%= title %></h1>

      <%- include('partials/errors')%>

      <form class="pageForm" method="POST">
        <label for="title">Album title:</label>
        <input
          type="text"
          name="title"
          minlength="1"
          maxlength="60"
          value="<%= (locals.album) ? album.title : '' %>"
          
        />
        <label for="artist">Artist(s):</label>
        <select name="artist" multiple>
          <% artists.forEach((artist) => { %>
          <option value="<%= artist.id %>"><%=artist.name%></option>
          <%})%>
        </select>
        <label for="year">Release year:</label>
        <input
          type="number"
          name="year"
          min="1800"
          max="2100"
          value="<%= (locals.album) ? album.year : '' %>"
          
        />
        <label for="notes">Notes:</label>
        <textarea name="notes" minlength="1" maxlength="1000" >
<%= (locals.album) ? album.notes : '' %></textarea
        >
        <button>Submit</button>
      </form>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
