<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main>
      <h1><%= title %></h1>

      <a href="/albums/new">Add New Album</a>

      <p>To-do: Search <%= title %> form</p>

      <form method="GET" action="">
        <label for="">Search:</label>
        <input type="text" name="searchValue" id="searchValue" />
        <button type="submit">Search</button>
      </form>

      <ul>
        <% if (locals.albums) { %> <% albums.forEach((album) => { %>
        <li>
          <a href="albums/<%= album.id %>/detail">
            <p><%= album.title %></p>
          </a>
        </li>
        <% }) %> <% } else { %>
          <h2>No Albums in collection.</h2>
          <% } %>
      </ul>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
