<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main>
      <h1><%= title %></h1>

      <a href="/artists/new">Add New Artist / Group</a>

      <p>To-do: Search <%= title %> form</p>

      <form method="GET" action="/artists">
        <label for="">Search:</label>
        <input
          type="text"
          name="searchValue"
          id="searchValue"
          value="<%= query %>"
        />
        <button type="submit">Search</button>
      </form>

      <ul>
        <% if (locals.artists) { %> <% artists.forEach((artist) => { %>
        <li>
          <a href="artists/<%= artist.id %>/detail">
            <p><%= artist.name %></p>
          </a>
        </li>
        <% }) %> <% } else { %>
        <h2>No Artists in collection.</h2>
        <% } %>
      </ul>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
