<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main>
      <h1><%= title %></h1>
      <a href="/artists/<%= artist.id %>/detail">Back to Artist</a>
      <p><%= artist.name %></p>
      <p>First active: <%= artist.activeyear %></p>
      <p><%= artist.notes %></p>
      <% if (albumList.length !== 0) { %>
      <h2>Warning: please update or delete the albums shown to continue.</h2>
      <p>Albums:</p>
      <ul>
        <% albumList.forEach((album) => {%>
        <li><a href="/albums/<%= album.id %>/detail"><%= album.title %></a></li>
        <% }) %>
      </ul>
      <% } else { %>
      <h2>
        No albums in database. Are you sure you want to delete this artist?
      </h2>
      <form method="POST"><button>Delete</button></form>
      <% } %>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
