<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main class="indexMain">
      <%- include('partials/toolbar')%> <% if(locals.query) { %>
      <h2><%= artistCount %> matching Artist(s)</h2>

      <% } else { %>
      <h2><%= artistCount %> Artist(s) in collection</h2>

      <% } %> <% if(locals.query) { %>
      <h2><%= albumCount %> matching Album(s)</h2>

      <% } else { %>
      <h2><%= albumCount %> Album(s) in collection</h2>

      <% } %>

      <div class="resultColumn">
        <ul>
          <% if (locals.artistList) { %> <% artistList.forEach((artist) => { %>
          <li>
            <a href="artists/<%= artist.id %>/detail">
              <div class="indexThumbnail">Portrait TBA</div>
              <p><%= artist.name %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Artists in collection.</h2>
          <% } %>
        </ul>
      </div>
      <div class="resultColumn">
        <ul>
          <% if (locals.albumList) { %> <% albumList.forEach((album) => { %>
          <li>
            <a href="albums/<%= album.id %>/detail">
              <div class="indexThumbnail">Cover art TBA</div>
              <p><%= album.title %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Albums in collection.</h2>
          <% } %>
        </ul>
      </div>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
