<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main class="indexMain">
      <%- include('partials/toolbar')%> <% if(locals.query) { %>
      <div class="resultHeader">
        <h1><%= albumCount %></h1>
        <p>matching Album(s)</p>
      </div>

      <% } else { %>
      <div class="resultHeader">
        <h1><%= albumCount %></h1>
        <p>Album(s) in collection</p>
      </div>

      <% } %> <% if(locals.query) { %>
      <div class="resultHeader">
        <h1><%= artistCount %></h1>
        <p>matching Artist(s)</p>
      </div class="resultHeader">

      <% } else { %>
      <div class="resultHeader">
        <h1><%= artistCount %></h1>
        <p>Artist(s) in collection</p>
      </div>

      <% } %>

      <div class="resultColumn">
        <ul class="indexUL">
          <% if (locals.albumList) { %> <% albumList.forEach((album) => { %>
          <li>
            <a href="albums/<%= album.id %>/detail">
              <img src="/imgs/musicnote.png" class="entryImg indexThumbnail "/>
              <p><%= album.title %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Albums in collection.</h2>
          <% } %>
        </ul>
      </div>

      <div class="resultColumn">
        <ul class="indexUL">
          <% if (locals.artistList) { %> <% artistList.forEach((artist) => { %>
          <li>
            <a href="artists/<%= artist.id %>/detail">
              <img src="/imgs/personicon.png" class="entryImg indexThumbnail artistImg"/>
              <p><%= artist.name %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Artists in collection.</h2>
          <% } %>
        </ul>
      </div>
    </main>
    <!-- <%- include('partials/footer')%> -->
  </body>
</html>
