<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main class="indexMain">
      <%- include('partials/toolbar')%>
      <div>
        <% if(locals.query) { %>
        <p><%= artistCount %> matching Artist(s)</p>

        <% } else { %>
        <p><%= artistCount %> Artists in collection</p>

        <% } %>

        <ul>
          <% if (locals.artistList) { %> <% artistList.forEach((artist) => { %>
          <li>
            <a href="artists/<%= artist.id %>/detail">
              <p><%= artist.name %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Artists in collection.</h2>
          <% } %>
        </ul>
      </div>
      <div>
        <p>Album count: <%= albumCount %></p>
        <ul>
          <% if (locals.albumList) { %> <% albumList.forEach((album) => { %>
          <li>
            <a href="albums/<%= album.id %>/detail">
              <p><%= album.title %></p>
            </a>
          </li>
          <% }) %> <% } else { %>
          <h2>No Albums in collection.</h2>
          <% } %>
        </ul>
      </div>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
