<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>

    <main class="detailMain">
      <div class="detailNav">
        <a href="/">Home</a>
        <div>
          <% if (locals.artist) { %>
          <a href="/artists/<%= artist.id %>/update">Update Artist</a>
          <a href="/artists/<%= artist.id %>/delete">Delete Artist</a>
          <% } %> <% if (locals.album) { %>
          <a href="/albums/<%= album.id %>/update">Update Album</a>
          <a href="/albums/<%= album.id %>/delete">Delete Album</a>
          <% } %>
        </div>
      </div>

      <% if (locals.artist) { %>

      <img src="/imgs/personicon.png" class="entryImg detailImg artistImg" />

      <div class="detailHeadline">
        <p><%= artist.name %></p>
        <p>Debut: <%= artist.activeyear %></p>
      </div>

      <p class="detailNotes"><%= artist.notes %></p>
      <p class="detailListHeading">Albums:</p>
      <ul class="detailUL">
        <% if (locals.albumList) { %> <% albumList.forEach((album) => {%>

        <li>
          <a href="/albums/<%= album.id %>/detail">
            <img src="/imgs/musicnote.png" class="entryImg detailThumbnail"/>
            <%= album.title %></a
          >
        </li>
        <% }) %> <% } %>
      </ul>

      <% } %> <% if (locals.album) { %>

        <img src="/imgs/musicnote.png" class="entryImg detailImg" />

      <div class="detailHeadline">
        <p><%= album.title %></p>
        <p>Release: <%= album.year %></p>
      </div>

      <p class="detailNotes"><%= album.notes %></p>
      <p class="detailListHeading">Artist(s):</p>
      <ul class="detailUL">
        <% if (locals.artistList) { %> <% artistList.forEach((artist) => {%>

        <li>
          <a href="/artists/<%= artist.id %>/detail">
            <img src="/imgs/personicon.png" class="entryImg detailThumbnail artistImg" />
            <%= artist.name %></a
          >
        </li>
        <% }) %> <% } %>
      </ul>

      <% } %>
    </main>
    <!-- <%- include('partials/footer')%> -->
  </body>
</html>
