<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>

    <main>
      <!-- <h1><%= title %></h1> -->
      <a href="/">Home</a>

      <% if (locals.artist) { %>
      <!-- <a href="/artists">Back to Artists</a> -->
      <a href="/artists/<%= artist.id %>/update">Update Artist</a>
      <a href="/artists/<%= artist.id %>/delete">Delete Artist</a>
      <div class="detailArtistPortrait">
        <p>TBA: Portrait</p>

      </div>
      <p><%= artist.name %></p>
      <p>Debut: <%= artist.activeyear %></p>
      <p><%= artist.notes %></p>
      <p>Albums:</p>
      <ul>
        <% if (locals.albumList) { %> <% albumList.forEach((album) => {%>

        <li><a href="/albums/<%= album.id %>/detail"><%= album.title %></a></li>
        <% }) %> <% } %>
      </ul>

      <% } %> <% if (locals.album) { %>
      <!-- <a href="/albums">Back to Albums</a> -->
      <a href="/albums/<%= album.id %>/update">Update Album</a>
      <a href="/albums/<%= album.id %>/delete">Delete Album</a>
      <div class="detailAlbumArt">
        <p>TBA: Album art</p>

      </div>
      <p><%= album.title %></p>
      <p>Release: <%= album.year %></p>
      <p><%= album.notes %></p>
      <p>Artist(s):</p>
      <ul>
        <% if (locals.artistList) { %> <% artistList.forEach((artist) => {%>

        <li>
          <a href="/artists/<%= artist.id %>/detail"><%= artist.name %></a>
        </li>
        <% }) %> <% } %>
      </ul>


      <% } %>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
