<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head')%>
  <body>
    <%- include('partials/header')%>
    <main>
      <h1><%= title %></h1>
      <% if (locals.artists) { %>
      <a href="/artists/new">Add New Artist / Group</a>
      <% } %> <% if (locals.albums) { %>
      <a href="/albums/new">Add New Album</a>
      <% } %>

      <p>To-do: Search <%= title %> form</p>
      <ul>
        <% if (locals.artists) { %> <% artists.forEach((artist) => { %>
        <li>
          <a href="artists/<%= artist.id %>/detail">
            <p><%= artist.name %></p>
          </a>
        </li>
        <% }) %> <% } %> <% if (locals.albums) { %> <% albums.forEach((album) =>
        { %>
        <li>
          <a href="albums/<%= album.id %>/detail">
            <p><%= album.title %></p>
          </a>
        </li>
        <% }) %> <% } %>
      </ul>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
